<%= link_to 'English', new_user_path( locale: :en), class: "btn btn-primary", type: "button " %>
<%= link_to 'Urdu', new_user_path( locale: :ur), class: "btn btn-primary", type: "button " %>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <%= form_for(@users, html: {class: "col-md-12"}) do |f| %>

                <% if @users.errors.any? %>

                  <div class="row">

                    <div class="col-xs-8 col-xs-offset-2">

                      <div class="panel panel-danger">

                        <div class="panel-heading">

                          <h2 class="panel-title">

                            <%= pluralize(@users.errors.count, "error") %>

                            prohibited this client from being saved:

                          </h2>

                          <div class="panel-body">

                            <ul>

                              <% @users.errors.full_messages.each do |msg| %>

                                <li><%= msg %></li>

                              <% end %>

                            </ul>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                <% end %>



                <div class="form-outline mb-4">
<!--                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />-->
                  <%= f.text_field :first_name, placeholder: "#{I18n.t 'activerecord.attributes.new.fname_placeholder'}", autofocus: true , class: "form-control form-control-lg", id: "form3Example1cg" %>
<!--                  <label class="form-label" for="form3Example1cg">Your Name</label>-->
                </div>

                <div class="form-outline mb-4">
<!--                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />-->
                  <%= f.text_field :last_name, placeholder: "#{I18n.t 'activerecord.attributes.new.lname_placeholder'}" , class: "form-control form-control-lg", id: "form3Example1cg" %>

                  <!--                  <label class="form-label" for="form3Example3cg">Your Email</label>-->
                </div>

                <div class="form-outline mb-4">
                  <!--                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />-->
                  <%= f.text_field :email, placeholder: "#{I18n.t 'activerecord.attributes.new.e_placeholder'}", class: "form-control form-control-lg", id: "form3Example1cg" %>

                  <!--                  <label class="form-label" for="form3Example3cg">Your Email</label>-->
                </div>

                <div class="form-outline mb-4">
<!--                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />-->
                  <%= f.text_field :password, placeholder: "#{I18n.t 'activerecord.attributes.new.p_placeholder'}", class: "form-control form-control-lg", id: "form3Example1cg" %>

                  <!--                  <label class="form-label" for="form3Example4cg">Password</label>-->
                </div>

                <div class="form-outline mb-4">
<!--                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />-->
                  <%= f.text_field :password_confirmation , placeholder: "#{I18n.t 'activerecord.attributes.new.rp_placeholder'}", class: "form-control form-control-lg", id: "form3Example1cg" %>

<!--                                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>-->
                </div>

                <div class="d-flex justify-content-center">
<!--                  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>-->
                  <%= f.button 'Register'.html_safe,  class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>

                </div>

                <p class="text-center text-muted mt-5 mb-0"><%= t "logins.new.services_html2" %>
<!--                  <a href="#!" class="fw-bold text-body"><u>Login here</u></a>-->
                  <%= link_to 'Login Here', login_path, class: "fw-bold text-body" %>
                </p>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

