<div class="container bootstrap snippets bootdey">
  <h1 class="text-primary">Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>

        <input type="file" class="form-control">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <h3>Personal info</h3>
      <%= form_for(@users, html: {class: "form-horizontal", role: "form"}) do |f| %>


          <div class="form-group">
<!--              <label class="col-lg-3 control-label">First name:</label>-->
              <%= f.label :first_name ,'First name:', class: "col-lg-3 control-label"%>

              <div class="col-lg-8">
<!--                <input class="form-control" type="text" value="dey-dey">-->
                <%= f.text_field :first_name, placeholder: "Enter your first name",class: "form-control",type:"text" ,autofocus: true  %>
              </div>
            <br>
          </div>

            <div class="form-group">
              <%= f.label :last_name ,'Last name:', class: "col-lg-3 control-label"%>
              <div class="col-lg-8">
                <%= f.text_field :last_name, placeholder: "Enter your last name",class: "form-control",type:"text" %>

              </div>
              <br>
            </div>
            <div class="form-group">
              <%= f.label :email ,'Email:', class: "col-lg-3 control-label"%>
              <div class="col-lg-8">
                <%= f.text_field :email, placeholder: "Enter your email",class: "form-control",type:"text" %>

              </div>
              <br>
            </div>
            <div class="form-group">
              <%= f.button 'Update Profile'.html_safe,  class: "btn btn-primary waves-effect waves-light right" %>
              <%= f.button 'Back to Profile'.html_safe,  class: "btn btn-primary waves-effect waves-light right" %>
            </div>
      <%end %>
    </div>
  </div>
</div>
<hr>














