<% @clients.each do |client| %>

  <div class="row justify-content-center text-decoration-none" >

    <div class="col-xs-8 col-xs-offset-2">

      <div class="well well-lg">

        <div class="client-title">

          <%= link_to client.name, client_path(client) %>

        </div>

        <div class="client-body">



          <div class="client-meta-details">

            <small>

              <%= time_ago_in_words(client.created_at) %> ago,

              last updated: <%= time_ago_in_words(client.updated_at) %> ago</small>

          </div>

        </div>

        <div class="client-actions">

          <%= link_to "Edit this client", edit_client_path(client), class: "fas fa-edit"%>
          <%= link_to "Delete this client", client_path(client), method: :delete,

                      data: { confirm: "Are you sure you want to delete the client?"},

                      class: "fa-solid fa-trash-can" %>

        </div>
        <br>

      </div>

    </div>

  </div>

<% end %>

