
<div class="row " >
  <div class ="col-md-12">

    <%= form_for @clients, html:  {class:'form-horizontal',role: 'form'} do |f|%>
      <% if @clients.errors.any? %>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <%= pluralize(@clients.errors.count, "error") %>
                  prohibited this client from being saved:
                </h2>
                <div class="panel-body">
                  <ul>
                    <% @clients.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <strong><%= t "clients.show.personal" %>:</strong>
      <br>
      <br>
      <div class="row text-decoration-none">
        <div class="col-md-4">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.c" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :name, class: "form-control" ,placeholder: "#{I18n.t 'clients.show.c_placeholder'}", autofocus: true%>
          </div>
        </div>


        <div class="col-md-4">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.s" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :serial_no, class: "form-control", placeholder: "#{I18n.t 'clients.show.s_placeholder'}" %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.p" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :phone, class: "form-control", placeholder: "#{I18n.t 'clients.show.p_placeholder'}" %>
          </div>
        </div>
      </div>
      <br>
      <strong><%= t "clients.show.chart" %></strong>
      <br>
      <br>
      <div class="row text-decoration-none">

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.type" %>
          </div>
          <div class="col-sm-11">
            <%#= f.text_field :type_name , class: "form-control", placeholder: "Serial no. of client" %>
            <%= f.select :type_name, options_for_select([['Choose..'],['Pant'], ['Shirt']]) %>

          </div>
        </div>
      </div>
      <br>
      <strong>Chart Info:</strong>
      <br>
      <br>
      <div class="row text-decoration-none">
        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label  t "clients.show.Arm" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :arm, class: "form-control"%>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Armhole" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :arm_hole, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Shoulder" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :shoulder, class: "form-control"  %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Neck" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :neck_line, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Chest" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :chest, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Skirt" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :skirt, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Waist" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :waist, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Shalwaar" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :shalwar, class: "form-control"  %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Paincha" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :paincha, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Front" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :front, class: "form-control"%>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Side"  %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :side, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Hip" %>
          </div>
          <div class="col-sm-11">
            <%= f.text_field :hip, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Description"  %>
          </div>
          <div class="col-sm-11">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.CollarorBayn" %>
          </div>
          <div class="col-sm-11">
            <%#= f.text_field :collar_ban, class: "form-control", placeholder: "Yes or No" %>
            <%= f.select :collar_ban, options_for_select([['Choose..'],['Collar'], ['Bayn']]) %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.Cuff" %>
          </div>
          <div class="col-sm-11">
            <%#= f.text_field :cuff, class: "form-control", placeholder: "Yes or No" %>
            <%= f.select :cuff, options_for_select([['Choose..'],['Yes'], ['No']]) %>

          </div>
        </div>

        <div class="col-md-3">
          <div class="control-label col-sm-6">
            <%= f.label t "clients.show.plate" %>
          </div>
          <div class="col-sm-11">
            <%#= f.text_field :plate, class: "form-control", placeholder: "yes or No" %>
            <%= f.select :plate, options_for_select([['Choose..'],['Yes'], ['No']]) %>

          </div>
        </div>


      </div>
      <br>
      <br>

      <div class="form-group ">

        <div class="col-md-3">

          <%= f.submit class: 'btn btn-primary btn-lg' %>

        </div>

      </div>
    <% end %>




<!--    <div class="col-md-3">-->

<!--      [ <%#= link_to "Cancel request and return to clients listing", clients_path %> ]-->
<!--    </div>-->
  </div>
<br>
</div>
<br>

