<div style="width: 95%; margin: auto;">
        <p id="notice"><%= notice %></p>

            <h3 align= "right">
              <div class="clients-actions">

                <%= link_to " ", edit_client_path(@client), class: "fas fa-edit text-decoration-none", title: "Edit client" %>  &nbsp;
                <%= link_to " ", clients_path, class: "fa-solid fa-eye text-decoration-none" , title: "Show all clients"%> &nbsp;
                <%= link_to " ", clients_path(@client), method: :delete, data: { confirm: "Are you sure you want to delete the clients?"}, class: "fa-solid fa-trash-can text-decoration-none" , title: "Delete client"%>  &nbsp;
              </div>
            </h3>
            <h1>Personal Information</h1>
        <br>
  <div class="container">
    <div class="row">
      <div class="col"><h3>Client: <%= @client.name %></h3>
      </div>
      <div class="col">Serial No: <%= @client.serial_no %>
      </div>

      <div class="col">Phone: <%= @client.phone %>
      </div>
    </div>

     <br>

    <div class="row">
      <div class="col"><h3>Chart Type: <%= @client.type_name %></h3>
      </div>
    </div>

     <br>

    <div class="row">
      <div class="col">Arm Length: <%= @client.arm %>
      </div>
      <div class="col">Shoulder Length: <%= @client.shoulder %>
      </div>
      <div class="col">Neck Line Length: <%= @client.neck_line %>
      </div>
    </div>

       <br>

      <div class="row">
        <div class="col">Chest Length: <%= @client.chest %>
        </div>
        <div class="col">Arm Hole Length: <%= @client.arm_hole %>
        </div>
        <div class="col">Waist Length: <%= @client.waist %>
        </div>
      </div>

       <br>

      <div class="row">
        <div class="col">Skirt Length: <%= @client.skirt %>
        </div>
        <div class="col">Shalwaar Length: <%= @client.shalwar %>
        </div>
        <div class="col">Paincha Length: <%= @client.paincha %>
        </div>
      </div>
    <br>

        <div class="row">
          <div class="col">Front: <%= @client.front %>
          </div>
          <div class="col">Side Length: <%= @client.side %>
          </div>
          <div class="col">Hip Length: <%= @client.hip %>
          </div>
        </div>
    <br>

        <div class="row">
          <div class="col">Collar or Bayn: <%= @client.collar_ban %>
          </div>
          <div class="col">Cuff: <%= @client.cuff %>
          </div>
          <div class="col">Cuff: <%= @client.cuff %>
          </div>
        </div>
    <br>

        <div class="row">
          <div class="col">plate: <%= @client.plate %>
          </div>
        </div>

        <br>
        <br>

        <div class="row">
          <div class="col"><h3>Description:</h3> <%= @client.description %>
          </div>
        </div>
    <br>
  </div>
</div>

