<section class="tg-sectionspace tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
        <div class="tg-sectionhead">
          <div class="tg-heading">
            <h2>Featured Products</h2>
          </div>
          <div class="tg-description">
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaiate dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-productslider" class="tg-productslider owl-carousel tg-products">
          <div class="itm">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/22.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/33.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/44.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/55.jpeg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/img-01.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/img-02.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/img-03.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/img-04.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/img-01.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/img-02.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/img-03.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product">
              <figure class="tg-productimg">
                <%= image_tag("products/img-04.jpg", alt: "image description") %>
                <figcaption>
                  <div class="tg-hoverimglink">
                    <%= image_tag("products/img-10.png", alt: "image description") %>
                    <a href="shopdetail.html">
                      <span>View Detail</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </figcaption>
              </figure>
              <div class="tg-productcontent">
                <div class="tg-producttitle">
                  <h3><a href="javascript:void(0);">Fabric Title Here</a></h3>
                </div>
                <div class="tg-rating">
                  <span class="tg-stars"><span></span></span>
                </div>
                <div class="tg-price">
                  <h4><a href="javascript:void(0);">$330</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
