<section class="tg-sectionspace tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
        <div class="tg-sectionhead">
          <div class="tg-heading">
            <h2>Team Behind Tailor Online</h2>
          </div>
          <div class="tg-description">
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaiate dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-teammembers" class="tg-teammembers owl-carousel tg-teammembers">
          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-01.jpg", alt: "image description") %></a>
              </figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-02.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-03.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-04.jpg", alt: "image description") %>

              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-01.jpg", alt: "image description") %>

              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-02.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-03.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-04.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-01.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-02.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-03.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-04.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-01.jpg", alt: "image description") %>
              </a>
              </figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-02.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-03.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="tg-member">
              <figure><a href="javascript:void(0);">
                <%= image_tag("team/img-04.jpg", alt: "image description") %>
              </a></figure>
              <div class="tg-membercontent">
                <div class="tg-membername">
                  <h3><a href="javascript:void(0);">Benedict Duque</a></h3>
                </div>
                <div class="tg-memberdesignation">
                  <h4><a href="javascript:void(0);">Manager, CEO</a></h4>
                </div>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
