<body class="tg-home">

  <!--    Wrapper Start-->
  <div id="tg-wrapper" class="tg-wrapper tg-haslayout">

         <!--      Header Start-->
         <%= render 'welcome/header' %>
         <!--      Header End-->


         <!--      Home Slider Start-->
         <%= render 'welcome/home_slider' %>
         <!--      Home Slider End-->


         <!--      Main Start-->
         <main id="tg-main" class="tg-main tg-haslayout">

           <!--           Tailor Online Start-->
           <%= render 'welcome/tailor_online' %>
           <!--        Tailor Online End-->


           <!--        Statastic Start-->
           <%= render 'welcome/statastic_start' %>
           <!--        Statastic End-->


           <!--        Featured Products Start-->
           <%= render 'welcome/products' %>
           <!--        Featured Products End-->


           <!--        Measurments Start-->
           <%= render 'welcome/measurement_start' %>
           <!--        Measurments End-->


           <!--        Product Categories Start-->
           <%= render 'welcome/products_categories' %>
           <!--        Product Categories End-->


           <!--        Tailor Your Hand Start-->
           <%#= render 'welcome/tailor_hand' %>
           <!--        Tailor Your Hand End-->


           <!--        Team Members Start-->
           <%#= render 'team_members' %>
           <!--        Team Members End-->


    <!--************************************
        Latest News Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
            <div class="tg-sectionhead">
              <div class="tg-heading">
                <h2>Latest News &amp; Articles</h2>
              </div>
              <div class="tg-description">
                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaiate dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="tg-articlenewsslider" class="tg-articlenewsslider owl-carousel tg-articlenews">
              <div class="item">
                <article class="tg-news">
                  <figure class="tg-newsimg">
                    <span class="tg-themetag tg-featuredtag"><i class="icon-bookmark"></i></span>
                    <a href="javascript:void(0);">
<!--                      <img src="images/news/img-01.jpg" alt="image description"></a>-->
                    <%= image_tag("news/img-01.jpg", alt: "image description") %></a>

                    <figcaption><a class="tg-btnreadmore" href="newsdetail.html">Read Full Article</a></figcaption></figure>
                  <div class="tg-newscontentbox">
                    <figure class="tg-authorimg"><a href="javascript:void(0);">
<!--                      <img src="images/author/img-01.jpg" alt="image description">-->
                      <%= image_tag("author/img-01.jpg", alt: "image description") %>

                    </a></figure>
                    <div class="tg-newscontent">
                      <div class="tg-newstitle">
                        <h3><a href="javascript:void(0);">Don't You Love The Patches</a></h3>
                      </div>
                      <ul class="tg-themetags">
                        <li><a href="javascript:void(0);">Frontpage Article</a></li>
                        <li><a href="javascript:void(0);">News</a></li>
                      </ul>
                      <div class="tg-description">
                        <p>Consectetur adipisicg elitae sied doita eiusmod adunt ut labore dolore magna.</p>
                      </div>
                      <ul class="tg-postmetadata">
                        <li>
                          <a href="javascript:void(0);">
                            <i class="fa fa-comment-o"></i>
                            <span>357</span>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">
                            <i class="fa fa-calendar-check-o"></i>
                            <time datetime="2017-12-12">June 27, 2017</time>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="item">
                <article class="tg-news">
                  <figure class="tg-newsimg">
                    <span class="tg-themetag tg-featuredtag"><i class="icon-bookmark"></i></span>
                    <a href="javascript:void(0);">
<!--                      <img src="images/news/img-02.jpg" alt="image description">-->
                      <%= image_tag("news/img-02.jpg", alt: "image description") %>

                    </a>
                    <figcaption><a class="tg-btnreadmore" href="newsdetail.html">Read Full Article</a></figcaption>
                  </figure>
                  <div class="tg-newscontentbox">
                    <figure class="tg-authorimg"><a href="javascript:void(0);">
<!--                      <img src="images/author/img-02.jpg" alt="image description">-->
                      <%= image_tag("author/img-02.jpg", alt: "image description") %>

                    </a></figure>
                    <div class="tg-newscontent">
                      <div class="tg-newstitle">
                        <h3><a href="javascript:void(0);">Don't You Love The Patches</a></h3>
                      </div>
                      <ul class="tg-themetags">
                        <li><a href="javascript:void(0);">Frontpage Article</a></li>
                        <li><a href="javascript:void(0);">News</a></li>
                      </ul>
                      <div class="tg-description">
                        <p>Consectetur adipisicg elitae sied doita eiusmod adunt ut labore dolore magna.</p>
                      </div>
                      <ul class="tg-postmetadata">
                        <li>
                          <a href="javascript:void(0);">
                            <i class="fa fa-comment-o"></i>
                            <span>357</span>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">
                            <i class="fa fa-calendar-check-o"></i>
                            <time datetime="2017-12-12">June 27, 2017</time>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="item">
                <article class="tg-news">
                  <figure class="tg-newsimg">
                    <span class="tg-themetag tg-featuredtag"><i class="icon-bookmark"></i></span>
                    <a href="javascript:void(0);">
<!--                      <img src="images/news/img-03.jpg" alt="image description">-->
                      <%= image_tag("news/img-03.jpg", alt: "image description") %>

                    </a>
                    <figcaption><a class="tg-btnreadmore" href="newsdetail.html">Read Full Article</a></figcaption>
                  </figure>
                  <div class="tg-newscontentbox">
                    <figure class="tg-authorimg"><a href="javascript:void(0);">
<!--                      <img src="images/author/img-03.jpg" alt="image description">-->
                      <%= image_tag("author/img-03.jpg", alt: "image description") %>

                    </a></figure>
                    <div class="tg-newscontent">
                      <div class="tg-newstitle">
                        <h3><a href="javascript:void(0);">Don't You Love The Patches</a></h3>
                      </div>
                      <ul class="tg-themetags">
                        <li><a href="javascript:void(0);">Frontpage Article</a></li>
                        <li><a href="javascript:void(0);">News</a></li>
                      </ul>
                      <div class="tg-description">
                        <p>Consectetur adipisicg elitae sied doita eiusmod adunt ut labore dolore magna.</p>
                      </div>
                      <ul class="tg-postmetadata">
                        <li>
                          <a href="javascript:void(0);">
                            <i class="fa fa-comment-o"></i>
                            <span>357</span>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">
                            <i class="fa fa-calendar-check-o"></i>
                            <time datetime="2017-12-12">June 27, 2017</time>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--************************************
        Latest News End
    *************************************-->
  </main>
  <!--************************************
      Main End
  *************************************-->
  <!--************************************
      Footer Start
  *************************************-->
  <%= render 'welcome/footer' %>
    <!--************************************
      Footer End
  *************************************-->
</div>
<!--************************************
    Wrapper End
*************************************-->
<!--<script src="js/vendor/jquery-library.js"></script>-->
<!--<script src="js/vendor/bootstrap.min.js"></script>-->
<!--<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=en"></script>-->
<!--<script src="js/jquery.flipster.min.js"></script>-->
<!--<script src="js/owl.carousel.min.js"></script>-->
<!--<script src="js/pogoslider.js"></script>-->
<!--<script src="js/jquery-ui.js"></script>-->
<!--<script src="js/countTo.js"></script>-->
<!--<script src="js/appear.js"></script>-->
<!--<script src="js/gmap3.js"></script>-->
<!--<script src="js/main.js"></script>-->
</body>
